    <div class="<%= category %> map-card">
      <label class="map-card__name"> <%= map.name %> </label>
      <span class="map-card__owner"> <%= map.owner %> </span>
      <p1 class="map-card__description"> <%= map.description %> </p1>
    </div>
