<div>
  <img src="/images/night-map.png">
  <form class="<%= category %> map-card" method="get" action="/maps/<%= map.mapid %>">
    <footer>
      <button class="map-card__button" type="submit">
        <i class="fa fa-user-circle-o"></i> <%= map.ownerid %> <i class="fa fa-thumb-tack"></i> <%= map.name%>
      </button>
    </footer>
  </form>
</div>
