<% maps.forEach(map => { %>
  <div>
    <header><%= map.name %></header>
    <p><%= map.description %></p>
  </div>
<% }) %>








<!-- maps = {"owned":[
  {"mapid":1,"ownerid":"alice","name":"a","description":"this is map a"}
  ],
"favorited":[
  {"ownerid":"charlie","mapid":3,"name":"c","description":"this is map c"},
  {"ownerid":"alice","mapid":1,"name":"a","description":"this is map a"}
],
"edited":[
  ":"alice","mapid":1,"name":"a","description":"this is map a"}
]} -->

