<nav id="nav-bar">
  <span class="header"><i class="fa fa-object-group"></i> WikiMap</span>
  <button id="user-button" class="hvr-grow">
    <i class="fa fa-map-marker"></i>
    My Maps
  </button>
  <button id="login-button" class="hvr-grow">
    <i class="fa fa-sign-in"></i>
    Login
  </button>
  <button id="create-button" class="hvr-grow">
    <i class="fa fa-plus-square"></i>
    Create Map
  </button>
</nav>
