<nav id="nav-bar">
      <span class="header">WikiMap</span>
      <button id="user-button">
        <i class="fa fa-address-book"></i>
        My Maps
      </button>
      <button id="login-button">
        <i class="fa fa-address-book"></i>
        Login
      </button>
    </nav>
