<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Map - WikiMap</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/info-window.css">
    <link rel="stylesheet" href="/styles/edit.css">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="/scripts/map/mapState.js"></script>
    <script type="text/javascript" src="/scripts/map/initmap.js"></script>
    <script type="text/javascript">
      var userid = Number('<%= userid %>');
      var mapid  = Number('<%= mapid %>');
      // returns initMap function with mapid in scope to make AJAX request
      var initMap = initMapFactory(mapid, userid);
    </script>

    <script defer type="text/javascript" src="/scripts/map/animate.js"></script>
    <script defer type="text/javascript" src="/scripts/nav.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmV2d1UF5pCRkcGjW68hCKYmIXjktEX7w&callback=initMap">
    </script>
  </head>

  <body>
    <% include partials/nav %>
    <div class="title-container">
      <article class="map-info">
          <header class="map-title">
            <span class="maptitle"></span>
            <button type="button" class="fav-button"><i class="fa fa-star"></i></button>
          </header>
          <p class="mapdescription"></p>
      </article>
      <div id="map"></div>
    </div>
    <div class="body-container">
      <form class="save">
        <button class="button__save hvr-grow" type="submit"><i class="fa fa-check-square-o"></i> Save</button>
      </form>
      <div class="info">
        <article class="pointlist">
          <header><button class="info__add-point" type="button"><i class="fa fa-map-pin"></i></button> Places</header>
          <div class="locations"></div>
        </article>
      </div>
    </div>

  </body>
</html>
