<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMap</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- icon library: for create icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/layout.css">

    <!-- External JS -->
    <script type="text/javascript" src="/scripts/initmap.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmV2d1UF5pCRkcGjW68hCKYmIXjktEX7w&callback=initMap">
    </script>
  </head>

  <body>
    <div id="map"></div>
  </body>
</html>
