<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - WikiMap</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/info-window.css">
    <link rel="stylesheet" href="/styles/main.css">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/user/main.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>

  </head>
  <body>
    <% include partials/nav %>
    <section class="banner">
      <header>Customize your MAP with WikiMap :|</header>
      <div>
        <span class="sign-up hvr-grow"><i class="fa fa-user-circle-o"></i>  Sign Up </span>
        <span id="sign-up-form" style="display:none;">
          <div>
            <input type="text" name="userid" placeholder="Username">
            <button class="login hvr-grow"><i class="fa fa-plus-square"></i> Create</button>
          </div>
        </span>
        <span class="login hvr-grow"><i class="fa fa-sign-in"></i>  Login </span>
        <span id="login-form" style="display:none;">
          <div>
            <input type="text" name="userid" placeholder="Username">
            <button class="login hvr-grow"><i class="fa fa-sign-in"></i> Login</button>
          </div>
        </span>
        <span class="new-map hvr-grow"><i class="fa fa-map-o"></i>  Start creating your own map</span>
      </div>
    </section>
    <section class="map-container">
      <%- include('partials/mapCollection', { maps, category: 'all' }) %>
    </section>
  </body>
</html>
