<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New - WikiMap</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,300i,700,700i">

    <link rel="stylesheet" href="/styles/edit.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/info-window.css">
    <link rel="stylesheet" href="/styles/new.css">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/edit.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmV2d1UF5pCRkcGjW68hCKYmIXjktEX7w&callback=initMap">
    </script>
  </head>

  <body>
    <% include partials/nav %>
    <div id="map"></div>
    <div class="info">
      <article class="map-title"><i class="fa fa-map-signs"></i> Food Map</article>
      <article class="description">
        <header><i class="fa fa-newspaper-o"></i> Description</header>
        <p>Helloooooooo</p>
      </article>
      <article class="pointlist">
        <header><i class="fa fa-map-pin"></i> Places</header>
        <div class="locations">
          <div class="point">McDonalds</div>
          <div class="point">A & W</div>
          <div class="point">Domino's Pizza</div>
        </div>
      </article>
    </div>

    <div class="edit">
        <section class="edit-title" style="display: none;">
          <h2>Title</h2>
          <hr>
          <form method="POST" action="/:mapid/save">
            <textarea name="text" placeholder="What are you humming about?"></textarea>
            <input type="submit" value="Tweet">
          </form>
        </section>

        <section class="edit-description" style="display: none;">
          <h2>Description</h2>
          <hr>
          <form method="POST" action="/tweets/register/">
            <input type="text" name="username" placeholder="Username without '@'"></textarea>
            <input type="text" name="display-name" placeholder="Display name"></textarea>
            <input type="password" name="password" placeholder="Your password here">
            <button type="submit"><i class="fa fa-user-plus"></i>  Register</button>
          </form>
        </section>

        <section class="delete" style="display: none;">
          <h2>Delete Place</h2>
          <hr>
          <form method="POST" action="/:pointid/delete/">
            <input type="text" name="username" placeholder="Username without '@'"></textarea>
            <input type="password" name="password" placeholder="Your password here">
            <button type="submit"><i class="fa fa-address-book"></i>  Login</button>
          </form>
        </section>
      </div>

  </body>
</html>
