<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User - WikiMap</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/info-window.css">
    <link rel="stylesheet" href="/styles/user.css">

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/user/main.js"></script>
  </head>

  <body>
    <% include partials/nav %>

    <h1> Owned Maps</h1>
    <%- include('partials/mapCollection', {maps: maps.owned, category: 'owned'}) %>

    <h1> Favorited Maps</h1>
    <%- include('partials/mapCollection', {maps: maps.favorited, category: 'favorited'}) %>

    <h1> Edited MAps </h1>
    <%- include('partials/mapCollection', {maps: maps.edited, category: 'favorited'}) %>
  </body>
</html>
<!-- {
    "owned": [
        {
            "mapid": 1,
            "ownerid": "alice",
            "name": "a",
            "description": "this is map a"
        }
    ],
    "favorited": [
        {
            "ownerid": "charlie",
            "mapid": 3,
            "name": "c",
            "description": "this is really updated map c"
        }
    ],
    "edited": [
        {
            "ownerid": "alice",
            "mapid": 1,
            "name": "a",
            "description": "this is map a"
        }
    ]
} -->
