$coralblack: #5D576B;
$mayablue: #6CD4FF;
$tulip: #FE938C;

div.point.hvr-grow {
  width: 90%;
}

article span.delete-button {
  width: 80%;
  background-color: $tulip;
  color: white;
  height: 35px;
  margin-top: 7px;
  padding-top: 2px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 10%;
}

article span.delete-button:hover {
  cursor: pointer;
  background-color: $mayablue;
  color: $coralblack;
}

form.save button.button__save:hover {
  color: $tulip;
  background-color: $coralblack;
}
