$coralblack: #5D576B;
$palepink: #F1DEDE;
$parrotpink: #D496A7;
$mayablue: #6CD4FF;
$tulip: #FE938C;

%button {
  float: right;
  height: 40px;
  width: fit-content;
  border-radius: 10px;
  margin-top: 30px;
  color: $mayablue;
  background-color: $coralblack;
  margin-left: 5px;
}

%div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  border: 5px solid $coralblack;
  border-radius: 10px;
  background-color: $coralblack;
  color: $mayablue;
  padding: 5px;
}

%inputfield {
  width: 100%;
  border-radius: 5px;
  padding-top: 7px;
  padding-left: 7px;
}

div.edit {
  @extend %div;

  section {
    flex-grow: 1;

    input {
      @extend %inputfield;
    }

    textarea {
      @extend %inputfield;
    }
  }

  button {
    @extend %button;
  }

}

div.point.hvr-grow {
  width: 90%;
}

div.edit-point {
  @extend %div;
  background-color: $coralblack;
  color: $mayablue;
  border: none;
  padding: 20px;
  padding-top: 0;

  section {
    flex-grow: 1;
  }

  input {
    @extend %inputfield;
  }

  textarea {
    @extend %inputfield;
  }
}

section.edit-title input {
  padding: 0 10px;
  height: 40px;
}

article span.delete-button {
  width: 80%;
  background-color: $tulip;
  color: white;
  height: 35px;
  margin-top: 7px;
  padding-top: 2px;
  border: 2px solid;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 10%;
}

article span.delete-button:hover {
  cursor: pointer;
  background-color: $mayablue;
  color: $coralblack;
}
