article.info-window {
  width: 200px;

  img.image {
    width: 20px;
    height:20px;
  }
}

// <div class="info-window">
        // <h1>Title</h1>
        // <p>hello world<p>
        // <img src='www.google.com'>
