article.info-window {
  height: 300px;

  img.image {
    object-fit: cover;
  object-position: 100% 0;

  width: 300px;
  height: 337px;
  }
}

// <div class="info-window">
        // <h1>Title</h1>
        // <p>hello world<p>
        // <img src='www.google.com'>
