$winedregs: #612940;
$smokyblack: #0F110C;
$seashell: #FDECEF;
$pink: #9D6381;
$grey: #CECCCC;

%article {
  margin: 10px;
  border: solid 2px $seashell;
  border-radius: 8px;
  flex-grow: 1;
  width: 25vw;
}

%header {
  height: 60px;
  background-color: $seashell;
  color: $winedregs;
  font-size: 250%;
}

%point {
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  font-size: 140%;
  background-color: $pink;
  color: $seashell;
}

html {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $smokyblack;
  margin-top: 70px;
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;

  div.title-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 75vw;

    article.map-info {
      border: solid 2px $seashell;
      border-radius: 8px;
      margin: 10px;

      header.map-title {
        border-radius: 4px;
        background-color: $seashell;
        color: $winedregs;
        font-size: 3vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding-left: 30%;

        button.fav-button {
          background-color: $seashell;
          color: $smokyblack;
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      p {
        color: $grey;
        padding-left: 30px;
        font-size: 140%;
      }
    }

  div#map {
      border-radius: 8px;
      border: solid 2px $seashell;
      margin: 10px;
      height: -webkit-fill-available;
    }
  }

  div.body-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-right: 20px;

    button#edit-button {
      font-weight: bold;
      padding: 9px;
      margin: 20px;
      height: 100px;
      font-size: 3vw;
      border-radius: 8px;
      border: solid 2px $seashell;
      color: $seashell;
      background-color: $pink;
      outline: none;
      box-shadow: none;
    }

    div.info {
      color: $smokyblack;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: -webkit-fill-available;
      text-align: center;

      article.description {
        @extend %article;

        header {
          @extend %header;
        }
      }

      article.pointlist {
        @extend %article;
        overflow: auto;

        header {
          @extend %header;
        }

        div.locations {
          margin-top: 10px;
          display: flex;
          flex-direction: column;

          div.point {
            @extend %point;
          }
        }
      }
    }
  }
}

div.title-container article.map-info header.map-title form button.fav-button:hover{
  cursor: pointer;
  color: $pink;
}
