$winedregs: #612940;
$smokyblack: #0F110C;
$seashell: #FDECEF;
$pink: #9D6381;
$grey: #CECCCC;
$coralblack: #5D576B;
$mayablue: #6CD4FF;
$tulip: #FE938C;

%article {
  margin: 10px;
  border: solid 2px $seashell;
  border-radius: 8px;
  flex-grow: 1;
  width: 25vw;
}

%header {
  height: 60px;
  background-color: $pink;
  color: $seashell;
  font-size: 250%;
}

%point {
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  font-size: 140%;
  background-color: $pink;
  color: $seashell;
}

html {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $smokyblack;
  margin-top: 70px;
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;

  div.title-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 75vw;

    article.map-info {
      border: solid 2px $seashell;
      border-radius: 8px;
      margin: 10px;

      header.map-title {
        border-radius: 4px;
        background-color: $seashell;
        color: $winedregs;
        font-size: 3vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding-left: 10%;

        span.maptitle {
          width: 80%;
        }

        button.fav-button {
          background-color: $seashell;
          color: $smokyblack;
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      p.mapdescription {
        color: $grey;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 2.5vw;
        width: 80%;
      }
    }

  div#map {
      border-radius: 8px;
      border: solid 2px $seashell;
      margin: 10px;
      height: -webkit-fill-available;
    }
  }

  div.body-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-right: 20px;

    button.button__save {
      padding: 9px;
      margin: 20px;
      margin-left: 23%;
      font-size: 4vw;
      border-radius: 8px;
      border: solid 2px $seashell;
      color: $seashell;
      background-color: $pink;
      outline: none;
      box-shadow: none;
    }

    div.info {
      color: $smokyblack;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: -webkit-fill-available;
      text-align: center;

        header {
          @extend %header;
        }


      article.pointlist {
        @extend %article;
        overflow: auto;

        header {
          @extend %header;

          button.info__add-point {
            background-color: $pink;
            color: $seashell;
            outline: none;
            box-shadow: none;
            border: none;
          }
        }

        div.locations {
          margin-top: 10px;
          display: flex;
          flex-direction: column;

          article.point-container.hvr-grow {
            @extend %point;

            header {
              font-size: 3vw;
              width: 100%;
              height: auto;
              margin-bottom: 7px;
              margin-left: 4px;
            }

            footer.point-footer {
              border-radius: 10px;
              background-color: $coralblack;
              display: flex;
              flex-direction: column;
              padding: 5px;

              div.content__title {
                margin: 10px;
                border-radius: 5px;
                background-color: $mayablue;
                color: $smokyblack;
              }
            }
          }
        }
      }
    }
  }
}

div.title-container article.map-info header.map-title button.fav-button:hover{
  cursor: pointer;
  color: $pink;
}

button.info__add-point:hover {
  cursor: pointer;
}

article.pointlist i.fa.fa-map-pin:hover {
  color: $tulip;
}
